<footer style="position: fixed;bottom: 20px;"class="text-muted">
    <div class="container">
        <% let year = (new Date()).getFullYear() %>
        <p > <%year %> Created by Tony O Regan</p>
    </div>
</footer>