<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <h1><%= pageTitle %></h1>
    <h2>On this site you can sign up to create a blog, <br>it will be listed on our site until you choose to delete it</h2>
    <h3>Creator: Tony O Regan</h3>
    <img src="/images/homeimg.png">
    <%- include('../partials/footer'); %>
  </body>
</html>

