<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <h1><%= pageTitle %></h1>
    <h2>If you are a new user go to register to create an account</h2>
    <p>You can only create a blog if you are logged in.</p>
    <p>You can only edit a blog if you are logged in as the user who created it.</p>
    <p>You can only delete a blog if you are logged in as the user who created it.</p>
    <p>You can view blogs at the blogs page.</p>
    
    <img src="/images/homeimg.png">
    <%- include('../partials/footer'); %>
  </body>
</html>

