<!DOCTYPE html>
<html>
<%- include('../partials/head'); %>
  <body>
    <%- include('../partials/header'); %>
    <div class="login">
      <h1>Register</h1>
      
      <form action="" method="post">
       
        
        <input class="textBox"id="username" type="text" name="username" placeholder="username">
        <br>
        <br>
        
        <input type="password" class="textBox" id="password" type="text" name="password" placeholder="password">
        <br>
        <input type="submit" class="button"type="submit" value="Submit">
    </form>
    </div>
    
   
    
    <%- include('../partials/footer'); %>
  </body>
</html>
